@media (min-width: 768px){
*{
    padding: 0%;
    margin: 0%;
}

body{
    position: absolute;
}


img{
position: relative;
width: 300px;
top: 250px;
left: 30%;
box-shadow:-70px 70px 10px rgba(255, 255, 165, 0.658) ;
border-radius: 30px;
}
p,h1{
position: relative;
left: -300px;
top: 30%;
overflow:hidden;
}
}






@media (max-width: 768px){
    *{
        padding: 0%;
        margin: 0%;
    }
    
    body{
        position: absolute;
        overflow: hidden;
    }
    
    
    img{
    position: relative;
    width: 20vw;
    top: 7vw;
    margin-right: 0%;
    left: 5%;
    box-shadow:-7px 7px 3px rgba(170, 237, 252, 0.633) ;
    border-radius: 3px;
    }
    p,h1{
    position: relative;
    left: 2px;
    top: 2vw;
    font-size: 2.5vw;
    }
    h1{
        font-size: 4vw;
       top: -5vw;
    }
}