
@media (min-width: 768px){
body{
    background-color:slategrey;
    overflow: hidden;
}

.accounts{
   display: flex;
 
   justify-content: space-around;
   height: 1vw;
   padding: 10%;
   padding-top: 5%;
   padding-bottom: 5%;
   
}

a{
    color: white;
}
}


@media (max-width: 768px){

body{
    background-color:slategrey;
    width: 100vw;
}

.accounts{
   display: flex;
   justify-content: space-around;
   height: 6vw;
   width: 40vw;
   padding: 25%;
   padding-top: 5%;
   padding-bottom: 0%;
   
}

a{
    color: white;
}
}