@media (min-width: 768px){
    #bars{
        display: none;
    }
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    position: relative;
}
.nevbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
    background-color: slategrey;
    padding-right: 7%;
    
}
.nevbar a{
    text-decoration: none;
    color:white;
    font-size: 1.4vw;
}
#logo{
    margin-right: 50%;
    margin-left: 7%;
    font-size: 2vw;
    text-decoration: none;
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Honk', system-ui;
}
.container img{
    width: 25%;
    position: absolute;
    left: 60%;
    top: 15vw;
}
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');



.h21 {
    font-size: 2vw;
     left: -10%;
     top: 20vw;
     position: absolute;
     line-height: 1.5;
     display: inline;
     background-image: linear-gradient(
        transparent 50%,
        #e1fffe 50%,
        #b0f8ff 85%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}
#iconParam{
    position: absolute;
    left: 26%;
    top: 28vw;
    cursor: pointer;
    animation: param 5s  infinite  normal;
}


@keyframes param{
    0%{
        top: 27.5vw;
        transform:rotate(-360deg) ;
    }
    30%{
        transform:rotate(-30deg) ;
        top: 28vw;
    }
    40%{
        transform:rotate(360deg) ;
    }
    50%{
        top: 27.5vw;
        transform:rotate(360deg) ;
    }
    60%{
        transform:rotate(360deg) ;
    }
    70%{
        transform:rotate(360deg) ;
        top: 28vw;
    }
    80%{
        top: 27.5vw;
        transform:rotate(360deg) ;
    }
    90%{
        top: 28vw;
        transform:rotate(360deg) ;
    }
    100%{
        transform:rotate(360deg) ;
    }
}


iframe{
   width: 100%;
   height: 700px;
}
#About{
    margin-bottom: -3%;
   margin-top: 30%;
}
#works{
  margin-top: 10%;
  

}
#contact{
    height: 200px;
}
#prm_div{
    background-color: #385170;
    position: absolute;
    left: -120%;
    top: 30vw;
    width: 14vw;
    border-radius: 2vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#prm_div i{
    cursor: pointer;
}
#prm_div i:hover{
    top: 29vw;
    animation: bell 2s normal;
}

@keyframes bell {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(45deg);
    }
    20% {
        transform: rotate(-45deg);
    }
    30% {
        transform: rotate(45deg);
    }
    40% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(45deg);
    }
    60% {
        transform: rotate(-45deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}
#liennn{
    position: absolute;
    bottom: 5%;
    
    display: flex;
    justify-content: space-around;
    width: 78%;
    left: 11%;
    }
    #liennn a{
        color: transparent;
    }
}













/*-----------------------------*/
@media (max-width: 768px){

    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    body{
        background-color: rgb(255, 255, 255);
        position: relative;
    }
    #bars{
        position: absolute;
        top: 6vw;
        left: 4vw;
        cursor: pointer;
    }
.nevbar{
    display: none;
}
#nevbar_phone{
background-color: #385170;
height: 12vw;
}
.bio{
    display: none;
}
#profile_pic {
    width: 100%;
    height: 50vw;
    display: flex;
    left: 35%;
    top: 20vw;
}
#profile_pic img{
    width: 30vw;
    height: 30vw;
    position: absolute;
}

.h21 {
    font-size: 2vw;
     left: -4%;
     top: 20vw;
     position: absolute;
     line-height: 1.5;
     display: inline;
     background-image: linear-gradient(
        transparent 50%,
        #e1fffe 50%,
        #b0f8ff 85%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}
.container img{
    width: 18%;
    position: absolute;
    
    left: 60%;
    top: 15vw;
}

#iconParam{
    display: none;
}
#contact{
    width: 100%;
}
#About{
    margin-bottom: 3%;
   margin-top: 5%;
   background-color:#f4f9ff;
   width: 100%;
   height:50vw;
   box-shadow:7px 7px 3px rgba(170, 237, 252, 0.633) ;
}
#works{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    overflow: hidden;
    
  
  }

 #skills{
    background-color: #ffffff;
    width: 100%;
 }
 #skills{
    
 }
#skills{
    height: 70vw;
}
#contact{
    width: 100%;
    height: 15vw;
    overflow: hidden;
}
#liennn{
    position: absolute;
    bottom: 20%;
    
    display: flex;
    justify-content: space-around;
    width: 40%;
    left: 27%;
    }
    #liennn a{
        color: transparent;
    }


}
